body {
	background-color: #232323;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

#header {
	background-color: steelblue;
	color: white;
	transition:background-color 0.15s linear;
}

#header p {
	margin: 0;
	font-size: 1.4em;
}

#header h1 {
	margin: 0;
	font-size: 3em;
	font-weight: 800;
}

#settings {
	font-size: 0.8em;
	font-weight: 800;
	color: steelblue;
	background-color: white;
}

#settings > button { 
	background-color: inherit;
	border:none; 
	outline:none;
	padding: 0;
	margin: 0;
	color: inherit;
	text-transform: uppercase;
	font-weight: 800;
}  

#settings p {
	color: black;
	font-weight: 400;
	text-transform: none;
	padding: 0;
	margin: 0;
	visibility: hidden;
}

#settings button:active { 
	background-color: steelblue;
	color: white;
}  

#settings input {
	display: none;
}

#settings label {
	cursor: pointer;
	padding: 0 5px;
}

#settings input:checked + label{
	background: steelblue;
	color: white;
}

#game_area {
	margin-top: 10px;
	max-width:40%;
}

.rect-group {
	display:inline;
}

.rect-RGB{
	display: inline-block;
	cursor: pointer;
	border-radius: 15px;
	margin: 5px 5px;
	width: 17.5%;
	padding-top: 15%;
	transition: background-color 0.15s linear;
}

.rect-RGB:not(.disabled):hover{
	border: 3px dashed yellow;
	margin: 2px 2px;
}

.rect-RGB.disabled {
	cursor: auto;
	background-color: #232323;
}